{% extends 'layout.html' %}

{% block title %}
    Listado de Articulos
{% endblock %}

{% block content %}
    <h1 class="title">LISTADO DE ARTICULOS</h1>

    <!--Proceso para mostrar los mensajes flash, mensaje creado en create_full_article en views.html-->

    {% if messages %}
        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <br>
        {% for articulo in articulos %}

        <article class="article-item">

            {% if articulo.imagen != 'null' and  articulo.image|length >= 1 %}
                <div class="image">
                    <img src="{{ articulo.image.url }}" >
                </div>
            {% endif %}

            <div class="data">
                <h2>{{ articulo.title}}</h2>
                <span class="date">{{articulo.created_at}} </span>
                <p>
                    {{articulo.content}}
                    <a class="btn btn-delete" href="{% url 'borrar_articulo' id=articulo.id %}">Borrar</a>
                </p>
            </div>
            <div class="clearfix"></div>
        </article>
        {% endfor %}

{% endblock %}